
@{
    ViewBag.Title = "Index";
}

<h2>İletişim</h2>

<table class="sale-productList">


    <tr>
        <th>Geliştirici</th>
        <th>E-Mail</th>
      

    </tr>

    <tr>

        <td>Kağan Çiloğlu</td>

        <td>kagan_ciloglu@hotmail.com</td>

        

    </tr>

    <tr>

        <td>Ceylan Şentürk</td>

        <td>ceng.ceysenturk@gmail.com</td>

        

    </tr>

    <tr>

        <td>İlhan Bayramoğlu</td>

        <td>bayramogluilhan09@gmail.com</td>

       

    </tr>
</table>

