<div class="brands">
    <div class="logos">
        <a href="https://www.adu.edu.tr"><img src="~/Content/wing_the_air_free/html/css/images/blogo3.jpg" alt="" /></a>
        <a href="https://www.aydin.gov.tr"><img src="~/Content/wing_the_air_free/html/css/images/blogo0.jpg" alt="" /></a>
        <a href="https://www.yok.gov.tr"><img src="~/Content/wing_the_air_free/html/css/images/blogo1.jpg" alt="" /></a>
        <a href="@Url.Action("Index", "Contact")"><img src="~/Content/wing_the_air_free/html/css/images/blogo2.jpg" alt="" /></a>
        <a href="@Url.Action("Index", "Contact")"><img src="~/Content/wing_the_air_free/html/css/images/blogo2.jpg" alt="" /></a>
    </div>
</div>